:root {
    --greenish: rgb(49, 65, 49);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #9aacf671;
  }
  .container {
    border: 1px solid #0033ff;
    padding: 3px;
    width: 250px;
    height: 390px;
    margin: 10px;
    border-radius: 20px;
    background: #9AADF6;
    box-shadow: 2px 2px 7px rgb(107, 107, 107);
  }
  .camera-box {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    padding: 0px;
    height: 70px;
    border-radius: 50px 50px;
    box-shadow: 2px 2px 2px;
  }
  #camera1 {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    align-items: center;
    margin-left: 6px;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(44, 38, 33));
  }
  #camera2 {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    height: 25px;
    width: 25px;
    align-items: center;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(44, 38, 33));
  }
  #camera1i {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    align-items: center;
    margin-left: 6.5px;
    margin-top: 6px;
    background: var(--greenish);
  }
  #camera2i {
    height: 9px;
    width: 9px;
    align-items: center;
    border-radius: 50%;
    margin-left: 6.5px;
    margin-top: 6px;
    background: var(--greenish);
  }
  .flash {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    background: white;
    margin: auto;
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgb(65, 64, 64);
  }
  .apple img{
    margin-left: calc(50% - 20px);
    margin-top: 50%;
    width: 40px;
    height: 40px;
  }